* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #728176;
  padding: 3rem;
}

#dolar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  width: 80%;
  height: 400px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  background-color: #728176;
  padding: 10px 0;
  margin-left: 10px;
}

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dolar {
  text-align: center;
  border-radius: 5px;
  background-color: #728176;
  overflow: hidden;
}

.cotizacion {
  text-align: center;
  align-content: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 40%;
  font-size: 25px;
  background-color: #ffffff;
}

.variacion {
  text-align: center;
  width: 100%;
  height: 18%;
  background-color: #dadada;
}

.variacion p {
  padding-top: 7px;
  font-size: 20px;
}

.fecha {
  text-align: center;
  width: 100%;
  height: 18%;
  background-color: #728176;
}

.fecha p {
  padding-top: 7px;
  font-size: 18px;
}

#dolarOficial {
  grid-column: 1/2;
  grid-row: 1/2;
}

#dolarBlue {
  grid-column: 2/3;
  grid-row: 1/2;
}

#dolarConLiquid {
  grid-column: 3/4;
  grid-row: 1/2;
}

#dolarPromedio {
  grid-column: 1/2;
  grid-row: 2/3;
}

#dolarBolsa {
  grid-column: 2/3;
  grid-row: 2/3;
}

#dolarTurista {
  grid-column: 3/4;
  grid-row: 2/3;
}

#compra {
  grid-template-columns: 1/2;
  background-color: #ffffff;
}

#venta {
  grid-template-columns: 2/3;
  background-color: #ffffff;
}

.fecha span {
  line-height: 30px;
  font-size: 18px;
}

@media (max-width: 950px) {
  #dolar {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 600px;
  }

  #dolarOficial {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  #dolarBlue {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  #dolarConLiquid {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  #dolarPromedio {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  #dolarBolsa {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  #dolarTurista {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  h2 {
    font-size: 15px;
  }

  .com {
    font-size: 15px;
  }
  .variacion p {
    font-size: 15px;
  }
  .fecha span {
    font-size: 15px;
  }
  .fecha p {
    font-size: 15px;
  }
}
